.card {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 18px 14px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 21px;
  background: var(--blue-4);
}

.card:hover {
  background-color: #93def9;
}

.header {
  display: flex;
  width: 321px;
  padding: 10px 8px;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--blue-8);
  font-family: Jua;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 67.5% */
}

.nameLabel {
  display: flex;
  width: 313px;
  padding: 5px 25px;
  align-items: center;
  border-radius: 20px;
  background: var(--blue-6);
  color: var(--white);
  font-family: Jua;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 96.429% */
}
