.card {
  display: flex;
  width: 349px;
  height: 180px;
  padding: 0 14px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 21px;
  background: var(--blue-4);
}

.header {
  display: flex;
  width: 321px;
  padding: 10px 8px;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--blue-8);
  font-family: Jua;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 67.5% */
}
.icon {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}
