.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.modalQuestion {
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  color: var(--color-black);
  font-size: 1.25rem;
  font-family: Jua;
  font-weight: 400;
  font-family: var(--font-jua);
  line-height: 2rem;
}

.btnWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
